---
import { createMarkdownProcessor } from '@astrojs/markdown-remark'

export type Props = {
	content: string
}

const { content } = Astro.props;

const processor = await createMarkdownProcessor()

const result = await processor.render(content)
---

<div set:html={result.code}></div>